body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

html,
body,
#app,
#root,
#app {
  height: 100%;
}

#div {
  height: 100%;
}

#title {
  font-family: "Source Sans Pro";
  font-style: bold;
  color: azure;
}

#opening {
  height: 100%;
}

#app {
  background-color: aqua;
  width: 100%;
  height: 100%;
}

.introduction-appear {
  transform: translate3d(0, 100%, 0);
}

.introduction-appear.introduction-appear-active {
  transform: translate3d(0, 0, 0);
  transition: transform 1.5s ease-in-out;
}

.introduction-right-appear {
  transform: translate3d(0, 0, 100%);
}

.introduction-right-appear.introduction-appear-active {
  transform: translate3d(0, 0, 0);
  transition: transform 1.5s ease-in-out;
}

#splash-div {
  height: 100%;
  width: 100%;
}

#gamecontainer {
  width: 800px;
  height: 100%;
}
#gamecanvas {
  width: 800px;
  height: 600px;
}

#space-invaders {
  float: left;
}

#splash-box {
  height: 100%;
}

#intro-text {
  float: left;
  height: 100%;
  padding: 5%;
  background-color: #04bbc7;
}
